# Python 02

## 变量的基本运算
- Operations: +; -; *; %

In [68]:
x = 2 #把2赋值给x,x是整数
y = 3 #把3赋值给y,y是整数
print(x*y) 
print(x+y)
print(x-y)
print(x/y) #每一行都打了print,所以每一行的结果都会被读取出来

6
5
-1
0.6666666666666666

In [2]:
x = '*' #x是一个字符串，字符串是一种可以被叠加的变量
y = '/'
x*3

'***'

In [3]:
x*3 + y #不可以做乘法和除法

'***/'

In [72]:
x = 2
x -= 7 #x = x - 7
x

-5

In [15]:
x = 1
y = 8
x += y # x = x + y, 不可以用 =+，符号放在前面。乘除也可以，但是都要放在等号前面。
print(x,y)

9 8

In [76]:
x = 2
y = 3
x**y

8

In [77]:
pow(2,3) #2的3次方是多少，pow是power的意思

8

In [78]:
round(2.545) #四舍五入取整数

3

In [81]:
round(2.545,0) #后面的位数是向前取整数

3.0

In [82]:
int(2.545) #只取整数位置，无视小数，没有四舍五入的概念。

2

In [83]:
abs(-2.545)

2.545

In [85]:
pi #python中是pi的定义的，需要装包哦

NameError: name 'pi' is not defined

## math package

In [5]:
import math

https://docs.python.org/2/library/math.html

In [6]:
math.pi

3.141592653589793

In [7]:
math.e

2.718281828459045

In [86]:
math.log(2)

0.6931471805599453

In [87]:
math.log10(2)

0.3010299956639812

In [88]:
math.log(8,2) #2的几次方是8

3.0

In [8]:
math.exp(1)

2.718281828459045

In [89]:
math.exp(2)

7.38905609893065

In [90]:
math.sqrt(2) #对2进行开方

1.4142135623730951

In [93]:
math.sin(2)

0.9092974268256817

In [ ]:
# https://docs.python.org/2/library/math.html  可以在这个网址上看具体包里有哪些函数

## - print

In [3]:
print("Hello World!")

Hello World!

In [4]:
x = "Hello " #把Hello赋值给x
print(x+"World!")

Hello World!

In [5]:
y = 1
print("Hello World" + "+" + str(y)) #y不是字符串，是一个整数。不能和前面的字符串进行相加，所以对其进行了str()转换。

Hello World+1

In [6]:
y = 1
print("Hello World +",y) #如果不对y进行转换，可以这样打印出来~逗号自动生成空格。

Hello World + 1

In [7]:
y = 1
print("Hello World + %d" %(y))  
# %d represents digit, %s represents string

Hello World + 1

In [8]:
x = "Hello World"
y = 1
print("%s + %d" %(x,y)) #s表示srting,d表示digit

Hello World + 1

In [9]:
x = "Hello World"
y = 1.0123
print("%s + %s" %(x,y))

Hello World + 1.0123

In [12]:
x = "Hello World"
y = 1
print("%s + %.2f" %(x,y)) #f:float

Hello World + 1.00

In [9]:
print('"Hello World!"') #输出的是放在里面的引号

"Hello World!"

In [10]:
x = "Hello World!"
print(x) #打印/查看：x
print(x *3)

Hello World!
Hello World!Hello World!Hello World!

## escape code: \n, \t, \r
- \n 换行
- \t tab
- \r 回车

In [10]:
print("Hello\nWorld!")

Hello
World!

In [17]:
print("Hello\tWorld!") #一个tab是四个空格

Hello	World!

In [11]:
print("Hello\rWorld!") #/r之前的东西被吃掉了

World!

In [12]:
print("Hello") #print("Hello",end = '\n')
print("World!")

Hello
World!

In [13]:
print("Hello",end = '') #' '
print("World!")

HelloWorld!

In [12]:
print("Hello",end = ' ') 
print("World!")

Hello World!

In [19]:
print("Hello",end = '@') 
print("World!")

Hello@World!

In [20]:
print('\\n')

\n

## 使用pandas 来读取文件

In [ ]:
#！pip install --user pandas,上一节课学习到的安装包的方法

In [1]:
import pandas as pd #载入pandas包并且以pd来缩写这个包，再次使用时直接输入pd即可，更加方便。

In [2]:
df = pd.read_csv('data.csv',index_col = 0)
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [3]:
df = pd.read_excel('data.xlsx')
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [14]:
df = pd.read_table('/Users/wenwen/Desktop/data.txt',sep = ',',index_col = 0) #sep:seprate,分隔符
df

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  8
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [5]:
df.to_excel('dat.xlsx') #在pandas中写一个文件

In [17]:
# df.to_csv('dat.csv')
#

## 读取复杂格式的txt

<img src="data1.png",width=400,height=600>

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_table.html

In [9]:
df = pd.read_table('data1.txt',sep = ',',skiprows = [0,1,2,3],header = None, 
                  names = ['n1','n2','n3','n4','message'],
                  index_col = ['message'],nrows = 5)

In [10]:
df

         n1  n2  n3  n4
message
hello     1   2   3   4
world     5   6   7   8
hello     9  10  11  12
hello     1   2   3   4
good      5   6   7   8